server:
  port: ${SHOP_SVC_API_PORT:8080}

logging:
  level:
    io.grpc: ERROR
    org.springframework.kafka: ERROR
    org.apache.kafka: ERROR
    io.opentelemetry.exporter: ERROR
    io.opentelemetry.exporter.internal.http.HttpExporter: ERROR
    io.lettuce.core: ERROR
    org.springframework.r2dbc: ERROR

order-system:
  messaging:
    product-reservation-requests:
      topic-name: "product-reservation-requests"
      timeout-seconds: 15

spring:
  application:
    name: shop-service

  r2dbc:
    url: "r2dbc:mysql://${MYSQL_HOST:mysql}:${MYSQL_PORT:3306}/inventory?createDatabaseIfNotExist=true&characterEncoding=UTF-8&serverZoneId=UTC&allowPublicKeyRetrieval=true&useSSL=false"
    username: ${MYSQL_USER:root}
    password: ${MYSQL_PASSWORD:admin}

  grpc:
    client:
      channels:
        inventory-service:
          address: ${INVENTORY_SVC_HOST:inventory-service}:${INVENTORY_SVC_GRPC_PORT:9090}
          plaintext: true

  kafka:
    bootstrap-servers: ${KAFKA_HOST:kafka-broker}:${KAFKA_PORT:9092}
    admin:
      auto-create: false
    listener:
      ack-mode: manual
    consumer:
      group-id: ${HOSTNAME:shop-service}
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      enable-auto-commit: false
      properties:
        spring.json.trusted.packages: "*"
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

management:
  tracing: { enabled: false }
  otlp:
    tracing:
      endpoint: ${TEMPO_PUSH_API_ENDPOINT:http://tempo-distributor:4318/v1/traces}
    metrics:
      export: { enabled: false }
