server:
  port: ${SHOP_SVC_API_PORT:8080}

logging:
  level:
    io.grpc: ERROR
    org.springframework.kafka: ERROR
    org.apache.kafka: ERROR
    io.opentelemetry.exporter: ERROR
    io.opentelemetry.exporter.internal.http.HttpExporter: ERROR
    io.lettuce.core: ERROR
    org.springframework.r2dbc: ERROR

order-system:
  messaging:
    product-reservation-requests:
      topic-name: "product-reservation-requests"
      timeout-seconds: 15

spring:
  application:
    name: shop-service

  grpc:
    client:
      channels:
        inventory-service:
          address: ${INVENTORY_SVC_HOST:inventory-service}:${INVENTORY_SVC_GRPC_PORT:9090}
          plaintext: true

management:
  tracing: { enabled: false }
  otlp:
    tracing:
      endpoint: ${TEMPO_PUSH_API_ENDPOINT:http://tempo-distributor:4318/v1/traces}
    metrics:
      export: { enabled: false }
