<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} - %-5level - %logger{30} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${LOKI_PUSH_API_ENDPOINT}</url>
        </http>
        <format>
            <label>
                <pattern>
                    app=shop-service, host=${HOSTNAME}, level=%level
                </pattern>
                <readMarkers>true</readMarkers>
            </label>
            <message>
                <pattern>%-5level - %logger{30} - %msg</pattern>
            </message>
        </format>
        <batch>
            <maxItems>1000</maxItems>
            <maxBytes>4194304</maxBytes>
            <timeoutMs>10000</timeoutMs>
        </batch>
    </appender>

    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="staging">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOKI"/>
        </root>
    </springProfile>
</configuration>