server:
  port: ${INVENTORY_SVC_API_PORT:8083}


logging:
  level:
    io.grpc: ERROR
    org.springframework.kafka: ERROR
    org.apache.kafka: ERROR
    io.opentelemetry.exporter: ERROR
    io.opentelemetry.exporter.internal.http.HttpExporter: ERROR
    io.lettuce.core: ERROR
    org.springframework.r2dbc: ERROR


order-system:
  workers:
    product-reservation-sync-requests:
      schedule-rate-ms: 15000
  messaging:
    product-reservation-requests:
      topic-name: "product-reservation-requests"
      topic-partitions: "0"
      timeout-seconds: 15
    product-reservation-sync-requests:
      topic-name: "product-reservation-sync-requests"
      topic-partitions: "0"
      timeout-seconds: 15
      batch-size: 150
      request-expires-after-ms: 15000


spring:
  application:
    name: inventory-service

  grpc:
    server:
      port: ${INVENTORY_SVC_GRPC_PORT:9093}
      ssl:
        secure: false

  r2dbc:
    url: "r2dbc:mysql://${MYSQL_HOST:mysql}:${MYSQL_PORT:3306}/inventory?createDatabaseIfNotExist=true&characterEncoding=UTF-8&serverZoneId=UTC&allowPublicKeyRetrieval=true&useSSL=false"
    username: ${MYSQL_USER:root}
    password: ${MYSQL_PASSWORD:admin}

  kafka:
    bootstrap-servers: ${KAFKA_HOST:kafka-broker}:${KAFKA_PORT:9092}
    admin:
      auto-create: false
    listener:
      ack-mode: manual
    consumer:
      group-id: ${HOSTNAME:inventory-service}
      auto-offset-reset: latest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      enable-auto-commit: false
      properties:
        spring.json.trusted.packages: "*"
        spring.json.type.mapping: >-
          com.example.shop.services.cart_service.dto.ReservationRequest:com.example.inventory.main.messaging.reservation_requests.ReservationRequest
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer


management:
  tracing: { enabled: false }
  otlp:
    tracing:
      endpoint: ${TEMPO_PUSH_API_ENDPOINT:http://tempo:4318/v1/traces}
    metrics:
      export:
        enabled: false
